<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uno Online</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    
    <div id="app">

      <div v-if="state === 'main'" class="screen main">

        <header>Uno Online</header>
        <button @click="createGame" class="red">Create Game</button>

      </div>

      <div v-if="state === 'lobby'" class="screen lobby">

        <header>Waiting for players</header>
        <p>Lobby ID: {{gameId}}</p>

        <div class="players">
          <h1>Players:</h1>
          <p v-for="player in gameData.players">{{player.name}}</p>
        </div>

        <button @click="changeName" class="blue">Change name</button>

        <button @click="startGame" class="green" v-if="host && gameData.players.length > 1">Start Game</button>

      </div>

      <div v-if="state === 'game'" class="screen game">

        <div class="board">
          <div>
            <img :src="`cards/${gameData.currentCard.name}.png`">
            <img src="cards/back.png" @click="pickRandomCard">
            <span :style="`visibility: ${gameData.currentCard.name === '+4' || gameData.currentCard.name === '+col' ? 'visible' : 'hidden'};`">{{gameData.currentCard.color}}</span>
            <span>+{{gameData.cardStack}}</span>
          </div>
          <p>Current player: {{gameData.players[gameData.currentPlayer].name}}</p>
        </div>

        <div class="color-picker" v-show="isPickingColor">
          <button class="red">Red</button>
          <button class="blue">Blue</button>
          <button class="green">Green</button>
          <button class="yellow">Yellow</button>
        </div>

        <div class="player-cards cards" :class="{ green: gameData.currentPlayer === playerId }">
          <img v-for="(card, index) in gameData.players[playerId].cards" :data-index="index" @click="playCard(index)" :src="`cards/${card.name}.png`">
          <button class="yellow" v-show="canSkip" @click="skipTurn">Skip</button>
        </div>

        <div class="other-players">

          <div v-for="otherPlayer in otherPlayers">
            <img v-for="card in otherPlayer.cards" src="cards/back.png">
            <p>{{otherPlayer.name}} ({{otherPlayer.cards.length}})</span>
          </div>

        </div>


      </div>

    </div>

    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-database.js"></script>

    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAt5kqwnpoPq3PCOqnNilu58Kq_mbnQgk0", authDomain: "uno-online-92f84.firebaseapp.com", projectId: "uno-online-92f84", storageBucket: "uno-online-92f84.appspot.com", messagingSenderId: "783279971399", appId: "1:783279971399:web:8a6caa2f1097686735e562", measurementId: "G-TMR21FRV45"
      };
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

    <script src="app.js"></script>
  </body>
</html>
